@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
body
{
	font-family: "Roboto Condensed",sans-serif;
	color: #00030a;
	font-size: 20pxpx;
	line-height: 1.6em;

  background: url(../images/bg.jpg);
  background-size: cover;

}
.overlay
{
	position: relative;
}
.overlay::before
{
	background: #000;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
}
h1,h2,h3,h4,h5,h6
{
 font-family: "Roboto Condensed",sans-serif;
 font-weight: 700;
 margin: 0;
 color: #000000
}
.about-bg
{
	background: rgba(0,0,0,0) url("/images/abt.jpg");
}
.parallax
{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: cover;
}
page-head {
  padding: 200px 100px 150px; }
  .page-head .section-title h3 {
    font-size: 55px;
    margin-bottom: 20px;
    color: #fff; }
.breadcrumb {
  background-color: rgba(0, 0, 0, 0);
  justify-content: center; }
.breadcrumb li {
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 5px; }
.breadcrumb li a {
      color: #fc328a; }


.pad90
{
	padding: 90px 0;
}
.mb20 {
  margin-bottom: 20px; }
 

.tiles{
    display: block;
    height: 250px;
    margin-left: 60px;
   width: 250px; 
}